In [1]:
import pandas as pd

In [26]:
df = pd.read_csv('green_tripdata_2019-01/green_tripdata_2019-01.csv', nrows=100)

In [52]:
df.head(5)

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
600000,2,2019-01-30 15:48:41,2019-01-30 15:57:31,N,1,260,82,1,1.03,7.00,0.0,0.5,0.00,0.0,NaN,0.3,7.80,2,1,0.0
600001,2,2019-01-30 15:29:04,2019-01-30 15:35:59,N,1,166,151,1,1.15,7.00,0.0,0.5,0.00,0.0,NaN,0.3,7.80,2,1,0.0
600002,2,2019-01-30 15:50:30,2019-01-30 15:56:54,N,1,166,116,1,1.29,7.00,0.0,0.5,0.00,0.0,NaN,0.3,7.80,2,1,0.0
600003,2,2019-01-30 16:15:39,2019-01-30 16:43:32,N,5,166,230,1,5.39,22.51,0.0,0.5,0.00,0.0,NaN,0.0,23.01,1,2,0.0
600004,2,2019-01-30 15:01:59,2019-01-30 15:18:49,N,1,66,181,1,3.58,13.50,0.0,0.5,2.86,0.0,NaN,0.3,17.16,1,1,0.0

In [56]:
df.trip_distance = pd.to_numeric(df.trip_distance)

In [55]:
print(df.loc[df["trip_distance"].idxmax()])

VendorID                                   2
lpep_pickup_datetime     2019-01-31 12:32:41
lpep_dropoff_datetime    2019-01-31 13:42:42
store_and_fwd_flag                         N
RatecodeID                                 4
PULocationID                              66
DOLocationID                             265
passenger_count                            2
trip_distance                          50.07
fare_amount                            170.5
extra                                    0.0
mta_tax                                  0.5
tip_amount                               0.0
tolls_amount                             0.0
ehail_fee                                NaN
improvement_surcharge                    0.3
total_amount                           171.3
payment_type                               2
trip_type                                  1
congestion_surcharge                     0.0
Name: 617357, dtype: object

In [30]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [32]:
from sqlalchemy import create_engine

In [33]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [34]:
print(pd.io.sql.get_schema(df, name='green_taxi_data', con=engine))

CREATE TABLE green_taxi_data (
	"VendorID" BIGINT,
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	"RatecodeID" BIGINT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type BIGINT,
	trip_type BIGINT,
	congestion_surcharge FLOAT(53)
)

In [35]:
df_iter = pd.read_csv('green_tripdata_2019-01/green_tripdata_2019-01.csv', iterator=True, chunksize=100000)

In [36]:
df = next(df_iter)

In [37]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [38]:
df.head(n=0).to_sql(name='green_taxi_data', con=engine, if_exists='replace')

0

In [39]:
%time df.to_sql(name='green_taxi_data', con=engine, if_exists='append')

Wall time: 11.1 s

1000

In [40]:
from time import time

In [51]:
while True: 
    t_start = time()

    df = next(df_iter)

    df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
    df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)
    
    df.to_sql(name='green_taxi_data', con=engine, if_exists='append')

    t_end = time()

    print('inserted another chunk, took %.3f second' % (t_end - t_start))

StopIteration:

In [18]:
!curl -O https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
  0     0    0     0    0     0      0      0 --:--:--  0:00:01 --:--:--     0
  0     0    0     0    0     0      0      0 --:--:--  0:00:02 --:--:--     0
100 12322  100 12322    0     0   3915      0  0:00:03  0:00:03 --:--:--  3917

In [19]:
df_zones = pd.read_csv('taxi+_zone_lookup.csv')

In [20]:
df_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [21]:
df_zones.to_sql(name='zones', con=engine, if_exists='replace')

265

In [23]:
!curl -O https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-01.csv.gz

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
  0     0    0     0    0     0      0      0 --:--:--  0:00:01 --:--:--     0
  0     0    0     0    0     0      0      0 --:--:--  0:00:02 --:--:--     0